<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-plugin-telephonymanager" version="1.0.0">
   <name>TelephonyManager</name>
   <js-module name="TelephonyManager" src="www/TelephonyManager.js">
      <clobbers target="cordova.plugins.TelephonyManager" />
   </js-module>
   <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
         <feature name="TelephonyManager">
            <param name="android-package" value="cordova.plugin.telephonymanager.TelephonyManager" />
         </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest/application">
         <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      </config-file>
      <config-file parent="/*" target="AndroidManifest.xml" />
      <source-file src="src/android/TelephonyManager.java" target-dir="src/cordova/plugin/telephonymanager/TelephonyManager" />
   </platform>
</plugin>